<html ng-app="curlGenApp">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <style type="text/css">
    </style>
    <script>
    var curlGenApp = angular.module('curlGenApp', []);

    curlGenApp.controller('curlGenController', function($scope, $http) {
        $scope.generate = function() {
            $scope.cmd = '';
            var tmpreq = '/tmp/curl-gen-req-$$.xml';
            if ($scope.request) {
                $scope.cmd += 'cat > ' + tmpreq + ' << EOF\n'
                $scope.cmd += $scope.request + '\nEOF\n';
                $scope.cmd += 'curl -d@' + tmpreq;
            } else {
                $scope.cmd += 'curl';
            }
            if ($scope.url) {
                $scope.cmd += ' ' + $scope.url;
            }
            if ($scope.method) {
                $scope.cmd += ' -X ' + $scope.method;
            }
            if ($scope.hname1) {
                $scope.cmd += ' -H ' + $scope.hname1 + ':' + $scope.hvalue1;
            }
            if ($scope.hname2) {
                $scope.cmd += ' -H ' + $scope.hname2 + ':' + $scope.hvalue2;
            }
            $scope.cmd += '\n';
        }
    });
    </script>
</head>
<body ng-controller="curlGenController">
    <form>
        <p><input type="text" id="url" ng-model="url" placeholder="URL" style="width: 500px" />
            <select id="method" ng-model="method">
                <option value="POST">POST</option>
                <option value="GET">GET</option>
            </select></p>
            <p>
                <input type="text" id="hname1" ng-model="hname1" placeholder="Header name">
                <input type="text" id="hvalue1" ng-model="hvalue1" placeholder="Header value">
            </p>
            <p>
                <input type="text" id="hname2" ng-model="hname2" placeholder="Header name">
                <input type="text" id="hvalue2" ng-model="hvalue2" placeholder="Header value">
            </p>
            <textarea name="" id="request" cols="100" rows="20" ng-model="request" placeholder="Request"></textarea>

            <p>
                <button ng-click="generate()">Generate</button>
            </p>

            <p>
                <textarea cols="100" rows="20" placeholder="Generated command" id="cmd" ng-model="cmd" onclick="this.select()"></textarea>
            </p>
        </form>
    </body>
    </html>