<html ng-app="curlGenApp">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://gregpike.net/demos/angular-local-storage/angular-local-storage.js"></script>
    <style type="text/css">
    </style>
    <script>
    angular.module('LocalStorageModule').value('prefix', 'curl-gen');

    var curlGenApp = angular.module('curlGenApp', ['LocalStorageModule']);

    curlGenApp.controller('curlGenController', function($scope, $http, localStorageService) {
        $scope.restoreForm = function() {
            var form = localStorageService.get('form');
            $scope.cmd = form.cmd;
            $scope.request = form.request;
            $scope.url = form.url;
            $scope.method = form.method;
            $scope.hname1 = form.hname1;
            $scope.hvalue1 = form.hvalue1;
            $scope.hname2 = form.hname2;
            $scope.hvalue2 = form.hvalue2;
        }
        $scope.generate = function() {
            $scope.cmd = '';
            if ($scope.request) {
                $scope.cmd += 'curl -d@-';
            } else {
                $scope.cmd += 'curl';
            }
            if ($scope.url) {
                $scope.cmd += ' ' + $scope.url;
            }
            if ($scope.method) {
                $scope.cmd += ' -X ' + $scope.method;
            }
            if ($scope.hname1) {
                $scope.cmd += ' -H ' + $scope.hname1 + ':' + $scope.hvalue1;
            }
            if ($scope.hname2) {
                $scope.cmd += ' -H ' + $scope.hname2 + ':' + $scope.hvalue2;
            }
            if ($scope.request) {
                $scope.cmd += ' << EOF \n';
                $scope.cmd += $scope.request + '\nEOF';
            }
            $scope.cmd += '\n';
            localStorageService.clearAll();
            localStorageService.add('form', JSON.stringify({
                cmd: $scope.cmd,
                request: $scope.request,
                url: $scope.url,
                method: $scope.method,
                hname1: $scope.hname1,
                hvalue1: $scope.hvalue1,
                hname2: $scope.hname2,
                hvalue2: $scope.hvalue2
            }));
        }
    });
    </script>
</head>
<body ng-controller="curlGenController">
    <form ng-init="restoreForm()">
        <p><input type="text" id="url" ng-model="url" placeholder="URL" style="width: 500px" />
            <select id="method" ng-model="method">
                <option value="POST">POST</option>
                <option value="GET">GET</option>
            </select></p>
            <p>
                <input type="text" id="hname1" ng-model="hname1" placeholder="Header name">
                <input type="text" id="hvalue1" ng-model="hvalue1" placeholder="Header value">
            </p>
            <p>
                <input type="text" id="hname2" ng-model="hname2" placeholder="Header name">
                <input type="text" id="hvalue2" ng-model="hvalue2" placeholder="Header value">
            </p>
            <textarea name="" id="request" cols="100" rows="20" ng-model="request" placeholder="Request"></textarea>

            <p>
                <button ng-click="generate()">Generate</button>
            </p>

            <p>
                <textarea cols="100" rows="20" placeholder="Generated command" id="cmd" ng-model="cmd" onclick="this.select()"></textarea>
            </p>
        </form>
    </body>
    </html>